$colorPrimary : #b6066a;

button{
  cursor: pointer;
}

.button-primary{
  border-radius: 10px;
  height: 60px;
  background-color: $colorPrimary;
  color: #ffffff;
  font-size: 2em;
  border: none;
}