@font-face{
  font-family: "Montserrat-Bold";
  src: url(../src/fonts/Montserrat-Bold.otf);
}

@font-face{
  font-family: "Montserrat-Light";
  src: url(../src/fonts/Montserrat-Light.otf);
}

@font-face{
  font-family: "Montserrat-Regular";
  src: url(../src/fonts/Montserrat-Regular.otf);
}

@font-face{
  font-family: "Montserrat-Medium";
  src: url(../src/fonts/Montserrat-Medium.otf);
}

:root {
  --color-primary: #E60785;
  --color-second: #FDCF39;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat-Light";
}

body{
  overflow-x: hidden;
}

header{
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

header > #logo-header{
  height: 40px;
  margin-left: 20px;
}

header > #logo-header > img{
  height: 100%;
}

button, a{
  border: none;
  cursor: pointer;
  background-color: var(--color-second);
  font-family: "Montserrat-Bold";
  font-size: 12px;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, .2);
  outline: none;
  text-align: center;
}

a{
  text-decoration: none;
}

h1.tittle-section{
  font-family: "Montserrat-Bold";
  font-size: 30px;
}

#section-main{
  width: 100%;
  padding: 80px 10% 80px;
  background-color: var(--color-primary);
}

#section-main > img{
  width: 100%;
}

#section-main > #text-section-main{
  color: white;
  width: 100%;
}

#section-main > #text-section-main > p{
  line-height : 25px;
}

#second-section{
  width: 100%;
  padding: 80px 10% 40px;
}

#second-section > img{
  width: 100%;
}

#second-section > #text-section > p{
  line-height : 25px;
  text-align: center;
}

#second-section > #text-section > p > span > img{
  height: 30px;
  margin-bottom: -10px;
}

#second-section > #text-section > a{
  display: block;
  width: 100%;
  margin: 20px 0;
  font-size: 16px;
}

#third-section{
  width: 100%;
  padding: 0 10% 80px;
}

#third-section > .tittle-section{
  text-align: center;
  font-size: 32px;
  color: var(--color-primary);
  margin-bottom: 15px;
}

#third-section > #content-section-third > div{
  margin: 40px 0 0;
}

#third-section > #content-section-third > div > .img-third-section{
  width: 40%;
  margin: 0 30%;
  max-width: 410px;
}

#third-section > #content-section-third > div > .img-third-section > img{
  width: 100%;
}

#third-section > #content-section-third > div > h2{
  font-family: "Montserrat-Bold";
  font-size: 28px;
  text-align: center;
  margin-top: 20px;
}

#third-section > #content-section-third > div > p{
  line-height : 25px;
  text-align: center;
}

#inter-section{
  background-color: var(--color-primary);
  color: var(--color-second);
  font-size: 24px;
  text-align: center;
  padding: 20px;
}

#inter-section > span{
  font-family: "Montserrat-Bold";
}

#inter-section > img{
  position: absolute;
  height: 80px;
}

#inter-section > img:nth-child(1){
  margin-top: -60px;
  margin-left: -80px;
}

#inter-section > span > span{
  color: white;
  font-family: "Montserrat-Bold";
}

#fourth-section{
  width: 100%;
  padding: 0 10% 40px;
}

#fourth-section > img{
  width: 90%;
}

#fourth-section > #form-action > .tittle-section{
  font-size: 32px;
  color: var(--color-primary);
}

#fourth-section > #form-action > span{
  display: block;
  font-size: 14px;
  font-family: "Montserrat-Bold";
  margin: 10px 0;
}

#fourth-section > #form-action > input{
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  text-align: center;
  border: 2px solid var(--color-second);
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

#fourth-section > #form-action > #accept-conditions > .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#fourth-section > #form-action > #accept-conditions > .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 2px solid var(--color-second);
  border-radius: 4px;
}

.container input:checked ~ .checkmark {
  background-color: var(--color-second);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 4px;
  top: .8px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#fourth-section > #form-action > button{
  width: 100%;
  font-size: 18px;
  margin: 10px 0;
}

footer{
  width: 100%;
  padding: 40px 10% 40px;
  background-color: var(--color-primary);
  text-align: center;
}

footer > img{
  max-width: 100%;
  height: 80px;
}

footer > #social > *{
  margin: 10px 0;
}

footer > #social > #icons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer > #social > #icons > img{
  height: 40px;
  width: auto;
}

footer > #social > span{
  font-size: 18px;
  color: white;
}

footer > #social > #hashtag{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

@media screen and (max-width: 720px) {
  
}

@media screen and (min-width: 910px) {
  header{
    padding: 20px 80px;
  }

  header > #logo-header{
    height: 60px;
  }
  
  button, a{
    font-size: 1.4rem;
    padding: 20px 40px;
  }
  
  h1.tittle-section{
    font-family: "Montserrat-Bold";
    font-size: 3.6rem;
  }
  
  #section-main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px auto 0;
  }

  #section-main > #text-section-main{
    margin-left: 20px;
  }

  #section-main > img{
    width: 40%;
  }
  
  #section-main > #text-section-main{
    width: 50%;
  }
  
  #section-main > #text-section-main > p{
    font-size: 1.6rem;
    line-height : 2.5rem;
    letter-spacing: .1rem;
  }
  
  #second-section{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #second-section > img{
    width: 40%;
    padding: 80px auto 40px;
  }

  #second-section > #text-section{
    width: 60%;
    margin-left: 5%;
  }
  
  #second-section > #text-section > p{
    text-align: left;
    font-size: 1.8rem;
    line-height : 2.8rem;
    letter-spacing: .1rem;
    font-family: "Montserrat-Medium";
  }
  
  #second-section > #text-section > p > span > img{
    height: 60px;
    margin-bottom: -20px;
  }
  
  #second-section > #text-section > a{
    font-size: 2rem;
  }
  
  #third-section{
    width: 100%;
    padding: 20px 0 60px;
  }
  
  #third-section > .tittle-section{
    font-size: 2.6rem;
  }
  
  #third-section > #content-section-third{
    display: flex;
    align-items: top;
    justify-content: center;
    width: 100%;
  }

  #third-section > #content-section-third > div{
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 2%;
  }
  
  #third-section > #content-section-third > div > .img-third-section{
    width: 200px;
    margin-bottom: 40px;
  }

  #third-section > #content-section-third > div > .img-third-section > img{
    width: 100%;
  }
  
  #third-section > #content-section-third > div > h2{
    font-size: 2rem;
  }
  
  #third-section > #content-section-third > div > p{
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-family: "Montserrat-Regular";
  }
  
  #inter-section{
    font-size: 2.4rem;
    padding: 40px;
  }
  
  #inter-section > span{
    margin: 0 80px;
  }
  
  #inter-section > img{
    height: 120px;
  }
  
  #inter-section > img:nth-child(1){
    margin-top: -80px;
    margin-left: -120px;
  }
  
  #fourth-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 10%;
  }
  
  #fourth-section > img{
    width: 40%;
  }
  
  #fourth-section > #form-action{
    margin-left: 20px;
  }

  #fourth-section > #form-action > .tittle-section{
    font-size: 4rem;
  }
  
  #fourth-section > #form-action > span{
    font-size: 1.5rem;
    margin: 20px 0;
  }
  
  #fourth-section > #form-action > input{
    width: 49%;
    font-size: 1.2rem;
    text-align: left;
    padding: 20px 15px;
    font-family: "Montserrat-Regular";
  }

  #fourth-section > #form-action > input:nth-child(3){
    margin-right: 1%;
  }
  
  #fourth-section > #form-action > #accept-conditions{
    text-align: left;
  }
  
  #fourth-section > #form-action > #accept-conditions > .container {
    font-size: 1.2rem;
    font-family: "Montserrat-Regular";
  }
  
  .checkmark {
    height: 25px;
    width: 25px;
  }
  
  .container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #fourth-section > #form-action > button{
    width: 100%;
    font-size: 2rem;
    margin: 10px 0;
  }
  
  footer{
    display: flex;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  footer > img{
    width: 30%;
    margin: 0 10%;
    height: auto;
  }

  footer > #social{
    width: 50%;
  }

  footer > #social > *{
    margin: 10px 0;
  }
  
  footer > #social > #icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  footer > #social > #icons > img{
    height: 50px;
    margin: 10px;
  }
  
  footer > #social > span{
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
    display: block;
  }
  
  footer > #social > #hashtag{
    justify-content: left;
  }

  footer > #social > #hashtag > span{
    margin-right: 30px;
    font-size: 1.5rem;
  }
}